
* {
    margin: 0;
    padding-top: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 80px;
}

body {
    font-family: 'Libre Baskerville', serif;
}

/* -------------------------------NAV*/
nav {
    height: 80px;
    background: #000000;
    position: fixed;
    text-align: center;
    width: 100%;
}

.logo {
    height: 150px;
    text-align: center;
    padding-top: 10px;
}

nav ul {
    position: fixed;
    width: 400px;
    height: 100vh;
    background: #000000;
    top: 80px;
    right: -102%;
    transition: all .5s;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    text-transform: uppercase;
}

nav li {
    display: block;
    margin: 50px 0;
    line-height: 40px;
}

nav a {
    font-size: 16px;
    color: #ffffff;
}

a.active,
a:hover {
    border: none;
    color: orange;
    text-decoration: none;
}

nav #icon {
    color: #ffffff;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: block;
}

nav ul.show{
    right: 0px;
}
/* -------------------------------END NAV*/

/* -------------------------------CART*/
:root {
    --primaryColor: orange;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

.cart-btn {
    position: relative;
    cursor: pointer;
    float: left;
    top: 25px;
    left: 38px;
}

/* -------------------------------END CART*/